@CHARSET "UTF-8";

/* Container */
#container {
	width: 100%;
	margin: auto;
}

#prime{padding-left:20px; padding-right:20px;overflow: hidden;}

#footer {
	padding-top: 10px;
	height:110px;
	text-align: center;
	width: 100%;
	margin: auto;

}

.footer-top {
	background-color: #fff;
	height:80px;
	padding-left: 10px;
	padding-right: 10px;
}

.footer-bottom {
	background-color: #999;
	height:30px;
}