.slide {
	position: relative;
}

.slide .detail {
	text-align: center;
}

.slide .detail h2{
	text-transform: uppercase;
	font-family: 'Avenir LT W01 95 Black', Arial;
	font-size:14px;
	color: #666;
}

.slide .detail h3{
	text-transform: uppercase;
	font-family: 'AvenirNextLTW01-Regular', Arial;
	font-size:14px;
	color: #666;
	width: 200px;
	margin: 0px auto;
}
.slide .detail span{
	text-transform: uppercase;
	font-family: 'AvenirNextLTW01-Regular', Arial;
	font-size:12px;
	color: #797979;
	
}

.slide .detail span.original-price{
	display: block;
text-decoration: line-through;
}

.slide .detail span.sale-price{
color: #B20000;
}

.carousel-control{
	position: absolute;
	top: 183px;
	background: url(../images/right_off.png) top left no-repeat;
	width: 57px;
	height: 57px;
	z-index: 10000;
	color: transparent;
}

.carousel-control:hover{
	color: transparent;
	background-image: url(../images/right_on.png);
}

#prev-button{
	background-image: url(../images/left_off.png);
	left:0px;
}

#prev-button:hover{
	background-image: url(../images/left_on.png);
}

#next-button{
	
	right:0px;
}

.slide .product{
	border:1px solid transparent;
	position: absolute;
	cursor: pointer;
}
.slide .product .detail{
	display: none;
}

.slide .product:hover{
	background-color: #FFF;
	border-color: #CCC;
	-moz-box-shadow: 0px 0px 4px #CCC;
	-webkit-box-shadow: 0px 0px 4px #CCC;
	box-shadow: 0px 0px 4px #CCC;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
	z-index: 10000;
}

.slide .product:hover .detail{
	display: block;
}

.slide_text_2 div,
.slide_text_3 div{
	width: 480px;	
	position: absolute;
	color: #666;
	letter-spacing: 1px;
	font-size: 13px;
	line-height: 17px;
}

.slide_text_3 div{
	width: 300px;
}

.slide_text_2 div strong,
.slide_text_3 div strong{
	font-family: 'Avenir LT W01 95 Black', Arial;
	text-transform: uppercase;
	color: #797979;
}

.slide_text_2 .slide_text_col_1,
.slide_text_2 .slide_text_col_2{
	top: 402px;
	left: 17px;
}
.slide_text_2 .slide_text_col_2{
	left: 514px;
}


.slide_text_3 .slide_text_col_1,
.slide_text_3 .slide_text_col_2,
.slide_text_3 .slide_text_col_3{
	top: 402px;
	left: 17px;
}
.slide_text_3 .slide_text_col_2{
	left: 336px;
}
.slide_text_3 .slide_text_col_3{
	left: 671px;
}

/*** SLide 1 ***/

#slide_1{
	background: url(../slides/1/background.gif) no-repeat 0px 0px;
}

#handbag_1{
	top: 28px;
	left: 91px;
}

#handbag_2{
	top: 28px;
	left: 352px;
}

#handbag_3{
	top: 28px;
	left: 678px;
}


/*** SLide 2 ***/

#slide_2{
	background: url(../slides/2/background.gif) no-repeat 0px 0px;
}

#bracelet_1{
	top: 25px;
	left: 96px;
}

#bracelet_2{
	top: 246px;
	left: 96px;
}

#green_thing{
	top: 5px;
	left: 587px;
}

/*** SLide 3 ***/

#slide_3{
	background: url(../slides/3/background.gif) no-repeat 0px 0px;
}

#necklace{
	top: 2px;
	left: 93px;
}

#earrings{
	top: 108px;
	left: 649px;
}

/*** SLide 4 ***/

#slide_4{
	background: url(../slides/4/background.gif) no-repeat 0px 0px;
}

#scarf_1{
	top: 0px;
	left: 207px;
}

#scarf_2{
	top: 0px;
	left: 670px;
}

#sweater{
	top: 0px;
	left: 381px;
}

/*** SLide 5 ***/

#slide_5{
	background: url(../slides/5/background.gif) no-repeat 0px 0px;
}

#fur{
	top: 0px;
	left: 91px;
}

#vest{
	top: 0px;
	left: 648px;
}

/*** SLide 6 ***/

#slide_6{
	background: url(../slides/6/background.gif) no-repeat top right;
}

#hat{
	top: 0px;
	left: 108px;
}

#gloves{
	top: 80px;
	left: 529px;
}

/*** SLide7 ***/

#slide_7{
	background: url(../slides/7/background.gif) no-repeat 0px 1px;
}

#jacket{
	top: 0px;
	left: 75px;
}

#cardigan{
	top: 0px;
	left: 502px;
}

/*** SLide8***/

#slide_8{
	background: url(../slides/8/background.gif) no-repeat 0px 1px;
}

#carjacket{
	top: 0px;
	left: 147px;
}

#cabancoat{
	top: 0px;
	left: 478px;
}

/*** SLide9***/

#slide_9{
	background: url(../slides/9/background.gif) no-repeat 0px 1px;
}

#coat{
	top: 0px;
	left: 213px;
}

#nylon{
	top: 0px;
	left: 600px;
}


/*** SLide10***/

#slide_10{
	background: url(../slides/10/background.gif) no-repeat 0px 1px;
}

#wool{
	top: 0px;
	left: 237px;
}

#camel{
	top: 0px;
	left: 515px;
}

/*** SLide11***/

#slide_11{
	background: url(../slides/11/background.gif) no-repeat 0px 1px;
}

#scarf_11{
	top: 0px;
	left: 80px;
}

#handbag_11{
	top: 51px;
	left: 324px;
}

#earrings_11{
	top: 375px;
	left: 750px;
}

#bracelet_11{
	top: 346px;
	left: 212px;
}

/*** SLide12***/

#slide_12{
	background: url(../slides/12/background.gif) no-repeat 0px 1px;
}


#handbag_12{
	top: 24px;
	left: 95px;
}

#earrings_12{
	top: 115px;
	left: 698px;
}

#ring_12{
	top: 275px;
	left: 429px;
}


/*** SLide13***/

#slide_13{
	background: url(../slides/13/background.gif) no-repeat 0px 1px;
}


#handbag_13{
	top: 24px;
	left: 383px;
}

#earrings_13{
	top: 0px;
	left: 153px;
}

#bracelet_13{
	top: 227px;
	left: 95px;
}

/*** SLide14***/

#slide_14{
	background: #FFF no-repeat 0px 1px;
}


#handbag_14{
	top: 14px;
	left: 86px;
}

#earrings_14{
	top: 31px;
	left: 761px;
}

#bracelet_14{
	top: 273px;
	left: 548px;
}

/*** SLide15***/

#slide_15{
	background: url(../slides/15/background.gif) no-repeat 0px 1px;
}


#handbag_15{
	top: 162px;
	left: 535px;
}

#scarf_15{
	top: 27px;
	left: 15px;
}

#necklace_15{
	top: 0px;
	left: 276px;
}
